<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appTag</key>
		<string>700</string>
		<key>appName</key>
		<string>预约保养</string>
		<key>iconImgPath</key>
		<string></string>
		<key>iconImgName</key>
		<string></string>
	</dict>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
</array>
</plist>
